In [1]:
import glob
import pandas as pd
from datetime import datetime
import os

In [2]:
path_enviados = os.getcwd() +'\\' + 'enviados\\backup'

In [3]:
path_enviados

'C:\\Users\\lumini04\\Desktop\\MOTOR_LEADS_NOVO\\enviados\\backup'

In [4]:
all_files = glob.glob(path_enviados + "/*"+".csv")

li = []

for filename in all_files:
    try:
        df = pd.read_csv(filename, index_col=None, header=0, delimiter ="\s+|;|,")
        #df.drop(columns=['FLAG_REDISTRIBUICAO','Unnamed'], inplace=True)
        df["data"]=datetime.fromtimestamp(os.path.getmtime(filename)).strftime('%Y%m%d')
        df.rename(columns={',ID_LEAD':'ID_LEAD'}, inplace=True)
        #df_final=pd.concat([df_inicio,df])
        li.append(df)
        
    except: pass

<ipython-input-4-c17027f5ee51>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, index_col=None, header=0, delimiter ="\s+|;|,")
<ipython-input-4-c17027f5ee51>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, index_col=None, header=0, delimiter ="\s+|;|,")

In [5]:
        
try:     
    enviados = pd.concat(li, axis=0, ignore_index=True)
    #enviados.drop_duplicates(subset=['data', 'ID_LEAD'], inplace=True)
    #lista de corretores que j√° trabalharam hoje por id do lead
    enviados_2 = enviados
    enviados_2['ID_LEAD'] = enviados_2[',ID_LEAD'].apply(lambda x: x.split(',')[1]).astype(float)
except: pass

In [6]:
enviados_2.drop(columns=['FLAG_REDISTRIBUICAO'])

,ID_LEAD,CPF_CORRETOR,CPF_CORRETOR_2,CPF_CORRETOR_3,RATING,RATING_2,RATING_3,SCORE,data,Unnamed: 0,...,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 1,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,4728384.0,3.768665e+10,3.224269e+10,3.903786e+10,2.679656,2.641531,2.603751,0.169866,20210323,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4737542.0,3.133214e+10,1.535490e+10,2.136916e+10,2.374706,2.111210,2.028492,0.474848,20210326,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4821614.0,4.305534e+10,2.328004e+10,2.770457e+10,2.910000,0.500000,0.500000,0.500000,20210428,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4854718.0,3.760682e+10,1.129330e+10,1.185318e+10,2.910000,0.500000,0.500000,0.500000,20210509,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4854721.0,2.328004e+10,3.744330e+10,1.918466e+10,2.910000,0.500000,0.500000,0.500000,20210509,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18314,4833456.0,6.424820e+09,5.687321e+10,3.825192e+10,2.910000,0.500000,0.500000,0.500000,20210503,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18315,4833468.0,3.578113e+10,3.578113e+10,1.185318e+10,2.825828,2.825828,2.575828,0.057216,20210503,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18316,4833471.0,1.185318e+10,1.185318e+10,1.185318e+10,2.049385,2.049385,2.049385,0.069049,20210503,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18317,4833488.0,3.053100e+10,2.859058e+10,2.787746e+10,2.910000,0.500000,0.500000,0.500000,20210503,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18318,4923234.0,2.750769e+10,3.592619e+10,3.225140e+10,2.714983,2.314983,2.214983,0.422351,20210527,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
enviados_2.to_csv('historico_match.csv', index=False)

In [8]:
import salva_historico_BI as bi

In [9]:
salvar = bi.DriveAPI()

Here's a list of files:

In [10]:
salvar.FileUpload("historico_match.csv")

File Uploaded.

In [11]:
!jupyter nbconvert --to script Historico_Match_BI.ipynb

[NbConvertApp] Converting notebook Historico_Match_BI.ipynb to script
[NbConvertApp] Writing 1435 bytes to Historico_Match_BI.py