In [3]:
import sqlite3
import pandas as pd
import numpy as np
from utils import do_select
db_file = '/home/marcello/git/lumini/leads_old/database/chinook.db'
sqlite3.connect(db_file).close()

In [ ]:
def df_to_sqlite(df: pd.DataFrame, db_file, tbName):
    conn = sqlite3.connect(db_file)
    return df.to_sql(tbName, conn, if_exists='append', index=False)

In [110]:
def do_select(db_file, sql, table_name):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            table_column_names = 'PRAGMA table_info(' + table_name + ');'
            cursor.execute(table_column_names)
            columns = cursor.fetchall()
            
            column_names = list()
            for name in columns:
                column_names.append(name[1])
            df = pd.DataFrame(column_names)
            
            cursor.execute(sql)
            rows = cursor.fetchall()
            
            print(column_names)
            for i, row in enumerate(rows):
                key_value = dict(zip(column_names, row))
                series = pd.Series(key_value)
                df.append(series)
        conn.close()
        return df
        
    except:
        conn.close()
        return False

In [112]:
sql = """
    SELECT * FROM tracks LIMIT 10
"""
# do_select(db_file, sql, 'tracks')
df_ = do_select(db_file, sql, 'tracks')
df_

['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
<class 'tuple'>
[1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99]

False

In [18]:
type(df_)

bool

In [4]:
def do_ddl(db_file, sql_ddl):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql_ddl)
            conn.commit()
        conn.close()
        return True
    except:
        conn.close()
        return False

In [5]:
ddl = """
    CREATE TABLE IF NOT EXISTS TESTE ( 
        COL_KEY INTEGER PRIMARY KEY AUTOINCREMENT, 
        COL_NAME TEXT NOT NULL
    ); """

do_ddl(db_file, ddl)

True

In [6]:
sql = """
    SELECT 
        name
    FROM 
        sqlite_schema
    WHERE 
        type ='table' AND 
        name NOT LIKE 'sqlite_%';
"""
do_select(db_file, sql)

('albums',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('TESTE',)

True

In [7]:
def do_insert(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        conn.close()
        return False

In [8]:
sql = """
    INSERT INTO playlists (Name) VALUES('teste audio 2');
"""
do_insert(db_file, sql)

True

In [9]:
sql = """
    SELECT * FROM playlists WHERE name like '%audio%' 
"""
do_select(db_file, sql)

(4, 'Audiobooks')
(6, 'Audiobooks')
(29, 'teste audio 1')
(30, 'teste audio 2')
(31, 'teste audio 2')

True

In [10]:
def do_update(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        return False

In [11]:
sql = """
    UPDATE playlists
    SET name = 'teste audio 0'
    WHERE NAME = 'teste audio 1'
"""
do_update(db_file, sql)

True

In [12]:
sql = """
    SELECT * FROM playlists WHERE name like '%teste%' 
"""
do_select(db_file, sql)

(29, 'teste audio 0')
(30, 'teste audio 2')
(31, 'teste audio 2')

True

In [13]:
def do_delete(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        return False

In [14]:
sql = """
    DELETE FROM playlists
    WHERE name = 'teste audio 2'
"""
do_delete(db_file, sql)

True

In [15]:
sql = """
    SELECT * FROM playlists WHERE name like '%teste%' 
"""
do_select(db_file, sql)

(29, 'teste audio 0')

True