In [3]:
import sqlite3
import pandas as pd
import numpy as np
db_file = '/home/marcello/git/lumini/leads_old/database/chinook.db'
sqlite3.connect(db_file).close()

In [92]:
def do_select(db_file, sql, table_name):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            table_column_names = 'PRAGMA table_info(' + table_name + ');'
            cursor.execute(table_column_names)
            columns = cursor.fetchall()
            
            column_names = list()
            for name in columns:
                column_names.append(name[1])
            df = pd.DataFrame(column_names)
            # series = pd.Series()
            
            cursor.execute(sql)
            rows = cursor.fetchall()

            print(column_names)
            for i, row in enumerate(rows):
                print(list(row))
                for j, value in enumerate(row):
                    for col in column_names:
                        df.loc[col] = value
                # series = row
                # series = np.reshape(series, (-1,1))
                # df[i] = series
        conn.close()
        # return True
        return df
    except:
        conn.close()
        return False

In [104]:
sql = """
    SELECT * FROM tracks LIMIT 10
"""
# do_select(db_file, sql, 'tracks')
df_ = do_select(db_file, sql, 'tracks')
df_

['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
[1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99]
[2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99]
[3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99]
[4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99]
[5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99]
[6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, 0.99]
[7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, 0.99]
[8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, 0.99]
[9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, 0.99]
[10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, 0.99]

                         0
0                  TrackId
1                     Name
2                  AlbumId
3              MediaTypeId
4                  GenreId
5                 Composer
6             Milliseconds
7                    Bytes
8                UnitPrice
TrackId               0.99
Name                  0.99
AlbumId               0.99
MediaTypeId           0.99
GenreId               0.99
Composer              0.99
Milliseconds          0.99
Bytes                 0.99
UnitPrice             0.99

In [18]:
type(df_)

bool

In [4]:
def do_ddl(db_file, sql_ddl):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql_ddl)
            conn.commit()
        conn.close()
        return True
    except:
        conn.close()
        return False

In [5]:
ddl = """
    CREATE TABLE IF NOT EXISTS TESTE ( 
        COL_KEY INTEGER PRIMARY KEY AUTOINCREMENT, 
        COL_NAME TEXT NOT NULL
    ); """

do_ddl(db_file, ddl)

True

In [6]:
sql = """
    SELECT 
        name
    FROM 
        sqlite_schema
    WHERE 
        type ='table' AND 
        name NOT LIKE 'sqlite_%';
"""
do_select(db_file, sql)

('albums',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('TESTE',)

True

In [7]:
def do_insert(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        conn.close()
        return False

In [8]:
sql = """
    INSERT INTO playlists (Name) VALUES('teste audio 2');
"""
do_insert(db_file, sql)

True

In [9]:
sql = """
    SELECT * FROM playlists WHERE name like '%audio%' 
"""
do_select(db_file, sql)

(4, 'Audiobooks')
(6, 'Audiobooks')
(29, 'teste audio 1')
(30, 'teste audio 2')
(31, 'teste audio 2')

True

In [10]:
def do_update(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        return False

In [11]:
sql = """
    UPDATE playlists
    SET name = 'teste audio 0'
    WHERE NAME = 'teste audio 1'
"""
do_update(db_file, sql)

True

In [12]:
sql = """
    SELECT * FROM playlists WHERE name like '%teste%' 
"""
do_select(db_file, sql)

(29, 'teste audio 0')
(30, 'teste audio 2')
(31, 'teste audio 2')

True

In [13]:
def do_delete(db_file, sql):
    try:
        with sqlite3.connect(db_file) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
        conn.close()
        return True
    except:
        return False

In [14]:
sql = """
    DELETE FROM playlists
    WHERE name = 'teste audio 2'
"""
do_delete(db_file, sql)

True

In [15]:
sql = """
    SELECT * FROM playlists WHERE name like '%teste%' 
"""
do_select(db_file, sql)

(29, 'teste audio 0')

True